
* {
    /* font-family: "Playfair Display", serif; */

  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  /* font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
  font-size: 16px;
}
body {
  background-color: #fafafa;
  color: #6a3939;
  line-height: 1.6;
  min-height: 100vh;
}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);

}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
nav ul li {
  height: 50px;


}
nav ul li a{
  height: 100%;
  padding: 0px 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;

}
nav ul li a:hover{
  background-color: #f0f0f0;
} 
nav ul li:first-child{
  margin-right: auto;

}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(144, 136, 136, 0.195);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
.sidebar ul li {
  width: 100%;

}
.sidebar ul li a{
  width: 100%;

}
.menu-button{
  display: none;
}
@media screen and (max-width: 800px) {
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .sidebar{
    width: 100%;

  }
}




/* ---------------------------
   FOOTER (optional)
   --------------------------- */
footer{
  padding: 30px 20px;
  background: black;
  color: white;
  text-align: center;
}


 @media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .contact-form {
    padding: 20px 15px;
  }
  .product-card img {
    height: 180px;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
